/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #0B1215;
    --background-color: white;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    color: var(--primary-color);
    margin: 0;
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr auto;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.center {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.page-container {
    margin: 0 3vw;
    max-width: 1980px;
    grid-column: 2;
}

header {
    margin: 27vh 0;
    position: relative;
    top: 51px;
    padding: 0 4rem;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title-dev {
    font-size: 0.75em;
    font-weight: 300;
}

.decorative-tag {
    font-size: 2em;
    font-weight: bold;
}

.contact-button {
    width: 8rem;
    padding: .75rem;
    border: 2px solid var(--primary-color);
    background-color: transparent;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    overflow: hidden;
    cursor: pointer;
    color: var(--primary-color);
    border: 2px solid var(--primary-color);
    position: relative;
    z-index: 1;
    margin-top: 2rem;
}

.contact-button::before {
    position: absolute;
    content: "";
    background: var(--primary-color);
    width: 8rem;
    height: 200px;
    z-index: -1;
}

.contact-button:hover {
    color: var(--background-color);
    font-weight: 500;
}

.contact-button:before {
    right: 100%;
    top: 0;
    transition: 0.3s all;
}

.contact-button:hover::before {
    right: 0;
}

#main-nav {
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: var(--primary-color);
    z-index: 99;
}

.hamburger-button {
    display: none;
}

.nav-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.nav-item {
    margin: 0 2vw;
}

.nav-item a {
    white-space: nowrap;
    color: var(--background-color);
    text-decoration: none;
    padding: 1rem;
}

.nav-item a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
    font-weight: 500;
    transition: .3s;
}

section {
    margin-bottom: 4rem;
}

section h1 {
    text-align: center;
}

.top-sections-container {
    padding: 0 4rem;
    display: flex;
    justify-content: space-between;
}

.aboutme-section {
    margin-right: 4rem;
    max-width: 768px;
}

.icon-list {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 2rem;
    justify-content: center;
}

.skill-item {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
}

.projects-section {
    clear: both;
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project-img {
    width: 300px;
    height: 168px;
    flex-grow: 1;
    margin: 5px;
    background-color: gray;
    text-align: center;
}

.contact-item {
    background-color: var(--primary-color);
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-item:hover {
    transition: .2s;
    animation: shrink .1s ease-in-out 1, selected 1s infinite;
}

@keyframes selected {
    0% {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }

    50% {
        outline: 1px solid var(--primary-color);
        outline-offset: 8px;
    }


    100% {
        outline: 2px solid var(--primary-color);
        outline-offset: 2px;
    }
}

@keyframes shrink{
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }


    100% {
        transform: scale(1);
    }
}

.contact-item img {
    width: 32px;
    height: 32px;
    margin: auto;
}

footer {
    position: static;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 4rem 2vw;
}

footer h2 {
    font-size: 1rem;
    color: var(--background-color);
}

footer a {
    color: var(--background-color);
    display: block;
    margin: 0.25em 0;
}

@media only screen and (max-width: 768px) {
    .hamburger-button {
        display: inline;
        background-color: transparent;
        border: none;
        margin: 0 3vw;
        padding: 0;
        height: 64px;
    }

    .hamburger-button:hover {
        cursor: pointer;
    }

    .hamburger-button img {
        margin: auto;
    }

    .nav-list, #main-nav {
        transition: .5s;
    }

    .nav-list {
        position: absolute;
        left: 0;
        flex-direction: column;
        justify-content: flex-start;
        width: 40vw;
        height: 100vh;
    }

    .nav-list, .nav-item {
        margin-top: 3rem;
    }
}