/* Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --primary-color: #0B1215;
  --primary-text: #0B1215;
  --secondary-text: hsl(198, 20%, 20%);
  --secondary-text-inverted: hsl(201, 14%, 68%);
  --background-color: white;

  /* Variáveis para os espaçamentos verticais */
  --m-bottom-xxs: 0.25rem;
  --m-bottom-xs: 0.5rem;
  --m-bottom-s: 1rem;
  --m-bottom-m: 2rem;
  --m-bottom-l: 4rem;
  --m-bottom-xl: 7.5rem;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 5.25rem;
}

html, body {
  height: 100vh;
}

body {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  color: var(--primary-text);
  margin: 0;  
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
}

ul {
  list-style: none;
}

.page-container {
  padding: 0 2vw;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  margin: 27vh 0;
  position: relative;
  padding: 0 4rem;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title-dev {
  font-size: 0.75em;
  font-weight: 300;
}

.decorative-tag {
  font-size: 2em;
  font-weight: bold;
}

nav .decorative-tag {
  display: none;
}

.contact-button {
  width: 8rem;
  padding: 1rem;
  border: 2px solid var(--primary-color);
  background-color: transparent;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  overflow: hidden;
  cursor: pointer;
  color: var(--primary-text);
  position: relative;
  z-index: 1;
  margin-top: 2rem;
}

.contact-button::before {
  position: absolute;
  content: "";
  background: var(--primary-color);
  width: 8rem;
  height: 200px;
  z-index: -1;
}

.contact-button:hover {
  color: var(--background-color);
  font-weight: 500;
}

.contact-button:before {
  right: 100%;
  top: 0;
  transition: 0.3s all;
}

.contact-button:hover::before {
  right: 0;
}

#main-nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary-color);
  z-index: 99;
  /*padding: 0 1rem;*/
}

.hamburger-button {
  display: none;
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: var(--primary-color);
  height: 100%;
  /*gap: 2vw;*/
}

.nav-item {
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-item a {
  white-space: nowrap;
  color: var(--background-color);
  text-decoration: none;
  padding: 1.5rem 2rem;
  transition: .3s;
}


.nav-item a:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
  font-weight: 600;
  letter-spacing: .05em;
  transition: .3s;
}

section {
  margin: 0 auto;
  margin-bottom: var(--m-bottom-xl);
}

h2 {
  margin-bottom: var(--m-bottom-s);
}

.section-title {
  text-align: center;
}

.aboutme-section {
  max-width: 768px;
}

.icon-list {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem 2vw;
  justify-content: center;
}

.skill-item {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: center;
  color: var(--secondary-text);
  white-space: nowrap;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(256px, 1fr));
  column-gap: 1rem;
}

.project a {
  color: var(--primary-text);
  background-color: var(--background-color);
  text-decoration: none;
}

.project:hover .project-img {
  filter: brightness(90%);
  transform: scale(1.1);
}

.project .view-project::before {
  content: "";
  position: absolute;
  height: 1px;
  bottom: 0.75rem;
  left: 1rem;
  background-color: var(--secondary-text);
  transition: .3s;
  width: 0;
  transform: scaleX(0);
  transform-origin: bottom left;
}

.project:hover .view-project::before {
  transition: .3s;
  width: 1px;
  transform: scaleX(140);
}

.project-item {
  text-align: left;
  margin-bottom: var(--m-bottom-m);
  border: 1px solid var(--secondary-text-inverted);
  overflow: hidden;
}

.project-img {
  object-fit: cover;
  width: 100%;
  filter: brightness(40%);
  transition: .3s ease;
  aspect-ratio: 16 / 9;
}

.project-info {
  padding: 0.75rem 1rem 1rem;
  color: var(--secondary-text);
  background-color: var(--background-color);
  height: 100%;
  min-height: 100%;
  position: relative;
  top: -0.25rem;
}

.project-info h3 { 
  color: var(--primary-text); 
  margin-bottom: var(--m-bottom-xs);
}

.project-info > p{
  margin-bottom: var(--m-bottom-s);
}

.project-info .view-project-wrapper { 
  width: fit-content;
}

.contact-item {
  background-color: var(--primary-color);
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;

}

.contact-item:hover {
  transform: scale(1.1);
}

.contact-item img {
  width: 32px;
  height: 32px;
  margin: auto;
}

footer {
  width: 100%;
  box-sizing: border-box;
  background-color: var(--primary-color);
  padding: 2rem 2vw;
  color: var(--background-color);
}

footer h2 {
  font-size: 1rem;
  color: var(--background-color);
}

footer ul {
  margin-bottom: var(--m-bottom-l);
}

footer li {
  margin-bottom: var(--m-bottom-s);
}

.copyright {
  text-align: center;
}

footer a {
  color: var(--secondary-text-inverted);
  text-decoration: none;
  transition: .3s;
}

footer a:hover {
  color: var(--background-color);
  text-decoration: none;
}

@media only screen and (max-width: 768px) {
  .page-container {
    margin: 1vw;
  }

  #main-nav {
    height: 67px;
  }

  .hamburger-button {
    display: inline;
    background-color: transparent;
    border: none;
    margin: 0 3vw;
    padding: 0;
    height: 64px;
  }

  .hamburger-button:hover {
    cursor: pointer;
  }

  .hamburger-button img {
    margin: auto;
  }

  .nav-list {
    position: fixed;
    left: -70vw;
    flex-direction: column;
    justify-content: flex-start;
    width: 60vw;
    height: 100vh;
    transition: .5s;
    position: absolute;
    top: 67px;
  }
  
  .nav-list.active {
    left: 0;
  }

  #main-nav:has(> .nav-list.active) + #body-content {
    background-color: var(--background-color);
    filter: brightness(60%);
  }

  .nav-item {
    display: flex;
    box-sizing: border-box;
    height: fit-content;
  }

  .nav-item a {
    width: 100%;
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
  }

  .title-container {
    text-align: center;
    justify-content: center;
  }

  header .decorative-tag {
    display: none;
  }

  nav .decorative-tag {
    display: block;
    position: fixed;
    top: 0.875rem;
    right: 3vw;
    color: var(--background-color);
    z-index: 100;
  }
}